.gradient-custom {
    /* fallback for old browsers */
    background: none;

}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.gradeLvHide {
    display: none;
}
.gradeLvShow {
    display: block;
}
.textarea {
    height: 100px;
    resize: none;
}