html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signIn {
  width: 100%;
  max-width: 470px;
  padding: 15px;
  margin: auto;
}

.form-signIn .checkbox {
  font-weight: 400;
}

.form-signIn .form-floating:focus-within {
  z-index: 2;
}

.form-signIn input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signIn input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.find-wrap {
  text-align: center;
}

.find-text {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  color: #888;
}

ul {
  list-style: none;
  padding: 20px 60px;
}

.find-wrap li {
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.find-wrap li+li a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 7px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #dadada;
}

.find-wrap li:first-child::before {
    content: none;
 }