.bg-dark{
    height: 5em;
}

.btn-outline-secondary{
    margin:10px;
    height:40px;
}

.navbar-expand .navbar-nav .nav-link{
    margin: 10px;
}
.navbar>.container, .navbar>.container-fluid{
    position: absolute;
}